/* Style sheet for list and detail views of items (CoffeeBags, Roasters, etc).

*/

.item {
    /* width: 300px; */
    padding: 4px;
    /* margin-bottom: 10px; */
    background: inherit;
    
    min-height:100px;
    height:auto !important;
    height:100px;


} 

.item_head {
    /* width: auto; */
    overflow: hidden;
    margin-bottom: 0px;
    background: #000;

    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;

    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

}

.item_body {
    /* width: auto; */
    overflow: hidden;
    margin-bottom: 0px;
    padding: 3px;
    background: #FFF;

    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;

    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.item_head h2 {
    float: left;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0px;
    color: #FFF;
    font-size: 1.5em;
    line-height: 2em;
}


.item li {
    font-size: 1.5em;
    font-style: normal;
    line-height: 1.5em;
}


/* Used in detail views */

.coffeetitle {
    /* width: 426px; */
    /* padding: 12px 16px 12px 0px; */
    background: #CCC;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
} 

.coffeetitle_head {
    display:block;
    width: auto;
    overflow: hidden;
    margin-bottom: 7px;
}

.coffeetitle_head h1 {
    color: #000;
    font-size: 2em;
    /* float: left; */
    /* margin-top: 0; */
    /* letter-spacing: 0px; */
    /* font-size: 2em; */
    /* line-height: 2em; */
}

.coffeetitle .vote_box {
    margin-right: 15px;
    margin-top: 20px;
    float: left;
}

.coffeetitle .vote_box .score{
    display:block;
    height:22px;
    color:#565656;
    font-size:22px;
    line-height:20px;
    padding-right:24px;
    background:transparent url("/static/img/upvote.png") no-repeat right 0;
}

.coffeetitle .vote_box .score:hover{
    color:#0069D6!important;
    background:transparent url("/static/img/upvote_hover.png") no-repeat right 0;
}

.coffeetitle .vote_box .score.voted{
    color:#0069D6!important;
    background:transparent url("/static/img/upvote.png") no-repeat right 0;
}

.coffeetitle .vote_box .score.voted:hover{
    color:#0069D6!important;
    background:transparent url("/static/img/upvote.png") no-repeat right 0;
}

.coffeetitle a:hover, a:active {
    outline: 0;
}
