.ratingwrapper:hover label{
	background-position:left bottom;
}
label{
	background:url('/static/img/stard.png') no-repeat left bottom;
	float:right;
	line-height:20px;	
	padding-left:20px;
	height:15px;
}
input:checked+label,.ratingwrapper:hover label:hover,.ratingwrapper:hover label:hover~label{
	background-position:0px -1px;
}
input:checked~label{
	background-position:0px -1px;
}	
input{
	display:none;
}
.ratingwrapper{
	float:left;
}
