{% extends "base.html" %}

{% block title %}
<title>Preparation Detail: {{ preparation.date }}</title>
{% endblock %}

{% block otherstyles %}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/rating.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}/css/coffeebag.css" />

{% endblock %}

{% block content %}

<div class="span12">

  <div class="coffeetitle">
    <div class="coffeetitle_head">
      <h1>{{ coffeebag.coffee.name }}</h1>
    </div>
  </div>
  
  <div class="row-fluid">
        
    <div class="span4">
      <div class="item">
	<div class="item_head">
	  <h2>Method</h2>
	</div>	
	<ul>
	  <li>{{ preparation.method }}</li>
	  <li>{{ preparation.coffee_amt }}g coffee / {{ preparation.water_amt }} ml water
	  <li>Grind: {{ preparation.grinder }}, setting {{ preparation.grind }}</li>
	  <li>{{ preparation.time_amt }} seconds</li>
	</ul>
      </div>
    </div>

    <div class="span4">
      <div class="item">
	<div class="item_head">
	  <h2>Coffee</h2>
	</div>
	{{ preparation.coffeebag }}	
      </div>
    </div>
  
  </div>
  
  <div class="row-fluid">
    
    <div class="item">
      <div class="item_head">
	<h2>Notes</h2>
      </div>
      <pre>{{ preparation.notes }}</pre>
    </div>
  </div>

</div>

{% endblock %}
