{% extends "base.html" %}

{% block title %}Preparations{% endblock %}

{% block otherstyles %}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/rating.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}/css/coffeebag.css" />
{% endblock %}

{% block loggedinstatus %}Logged in as <a href="#" class="navbar-link">{{ user.username }}</a> (<a href="/logout/" class="navbar-link">Logout</a>){% endblock %}

{% block content %}

<div class="hero-unit">
      <h2>Preparations</h2>
</div>

{% if preparation_list %}
  
{% for prep in preparation_list %}

<div class="row">
  
  <div class="span6">
    <div class="item">
      <p>{{ prep }} <a href="{% url 'preparationdetail' prep.id %}">  Details&raquo;</a></p>
    </div>
  </div>
</div>    

{% endfor %}

</div>

{% if is_paginated %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% endif %}



{% else %}
<div class="row-fluid">
  <div class="span8">
    <p>No preparations available.</p>
  </div><!--/span-->
</div>
{% endif %}

{% endblock %}
