{% extends "base.html" %}

{% block title %}Coffee's in Journal{% endblock %}

{% block otherstyles %}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/rating.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}/css/coffeebag.css" />
{% endblock %}

{% block loggedinstatus %}Logged in as <a href="#" class="navbar-link">{{ user.username }}</a> (<a href="/logout/" class="navbar-link">Logout</a>){% endblock %}

{% block content %}


<!-- <div class="span10"> -->
<div class="row-fluid">
  
  <div class="span10">

    <div class="item">
      <div class="item_head">
	<h2>Search</h2>
      </div>

      <form action="/search/" method="GET">
	<input type="text" name="q" />
	<button type="submit">Search</button>
      </form>
      
    </div><!--/span-->
  </div>
</div>


{% endblock %}
