{% extends "base.html" %}

{% block title %}Coffee's in Journal{% endblock %}

{% block loggedinstatus %}Logged in as <a href="#" class="navbar-link">{{ user.username }}</a> (<a href="/logout/" class="navbar-link">Logout</a>){% endblock %}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}'s Coffees</h1>

{% if latest_coffee_list %}

{% for coffee in latest_coffee_list %}

<div class="row-fluid">
  <div class="span10">
    <h2>{{ coffee.name }}</h2>
    Purchased on {{ coffee.date_purch }}
    <!-- <img src="{{ STATIC_URL }}/img/{{ coffee.id }}.jpg" width=100> -->
    <a class="btn" href="/coffee/{{ coffee.id }}/">View details &raquo;</a>
  </div><!--/span-->
</div>

{% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if latest_coffee_list.has_previous %}
    <a href="?page={{ latest_coffee_list.previous_page_number }}">previous</a>
    {% endif %}
    
    <span class="current">
      Page {{ latest_coffee_list.number }} of {{ latest_coffee_list.paginator.num_pages }}.
    </span>
    
    {% if latest_coffee_list.has_next %}
    <a href="?page={{ latest_coffee_list.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>


{% else %}
<div class="row-fluid">
  <div class="span8">
    <p>No coffee available.</p>
  </div><!--/span-->
</div>
{% endif %}

{% endblock %}
