<!--{{ STATIC_URL }}/-->
<!--{{ STATIC_URL }}/js/jquery-1.9.1.js-->

<!DOCTYPE html>  
<html>  
  <head>  
    <title>Base</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->  
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">  
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/testStyle.css" />
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="../assets/js/html5shiv.js"></script>
	<![endif]-->
    
    <!-- Fav and touch icons -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png"> -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png"> -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png"> -->
    <!-- <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"> -->
    <!-- <link rel="shortcut icon" href="../assets/ico/favicon.png"> -->
  </head>  
  
  <body>  
  
  <!-- navbar-fixed-top will keep the banner always on top - do we want that?> -->
  <div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
    <div class="navbar-inner gradient">
     <div class="container-fluid">
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
         </a>
         <div class="nav-collapse collapse">
            <ul class="nav">
            
          	  <a class="brand" href="/">Coffee Ratios</a>
          	  
          	  <li><a href="#">About</a></li>                    	     
            	
            	<li class="dropdown">
            	<a data-toggle="dropdown" class="dropdown-toggle" href="#">Coffee <b class="caret"></b></a> <!--  add/use <b class="caret"></b> to display arrow down -->
            	<ul class="dropdown-menu">
            		<li class="nav-header">Location</li>
            		<li><a href="#">Africa</a></li>
            		<li><a href="#">Central America</a></li>
                	<li><a href="#">South America</a></li>
                	<li class="divider"></li>
                	<li><a href="#">Aroma</a></li>
                	<li><a href="#">Roast</a></li>
          		</ul><!-- .dropdown-menu -->
          		</li><!-- .dropdown-Coffee -->
          		
          		<li class="dropdown">
          		<a data-toggle="dropdown" class="dropdown-toggle" href="#">Preparation <b class="caret"></b></a> 
            	<ul class="dropdown-menu">
            		<li class="nav-header">Methods</li>
            		<li><a href="#">Aero-press</a></li>
            		<li><a href="#">French-press</a></li>
            		<li><a href="#">Pourover</a></li>
                	<li><a href="#">Vacuum</a></li>
                	<li class="divider"></li>                	
                	<li><a href="#">Grinds</a></li>
                	<li><a href="#">Water</a></li>                	
          		</ul><!-- .dropdown-menu -->
             	</li><!-- .dropdown-Preparation -->
             	
             	<li><a href="#">Roasters</a></li>   
             	
             	<li><a href="#">Contact</a></li>           	             	
         	
         	</ul><!-- nav -->
         	
         	{% if user.is_authenticated %}
         	<ul class="nav pull-right">   
         	<li class="dropdown">
            	<a data-toggle="dropdown" class="dropdown-toggle" href="#">My journal <b class="caret"></b></a>
            	<ul class="dropdown-menu">            	
            		<li><a href="#">My methods</a></li>	
            		<li class="divider"></li>
            		<li><a href="/purchased_coffees/">My coffees</a></li>
                	<li><a href="/roasters/">My roasters</a></li>
                	<li><a href="#">My equipment</a></li>
                	<li class="divider"></li>
                	<li><a href="#">My notes</a></li>
                	<li class="divider"></li>
                	<li><a href="#">My friends</a></li>
                	<li class="divider"></li>
                	<li><a href="#">My favorites</a></li>
          		</ul><!-- .dropdown-menu -->
          		</li><!-- .dropdown-Coffee -->
         	
         	        	
         	<li class="dropdown">
          		<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <img src="{{ STATIC_URL }}/img/settings.gif"> <b class="caret"></b></a>
            	<ul class="dropdown-menu">            		
            		<li><a href="#">Settings</a></li>
            		<li class="divider"></li>                	
                	<li><a href="/logout/">Sign out</a></li>                	                
          		</ul><!-- .dropdown-menu -->
             	</li><!-- .dropdown-Settings -->
            </ul>

            {% else %}       	
 			<ul class="nav pull-right">
 			
 				<li><a href="#">Sign up</a></li> 			 				
 				       
           		<li class="dropdown" id="menu1">
             		<a class="dropdown-toggle" data-toggle="dropdown" href="#menu1"> Login <b class="caret"></b></a>            
             			<div class="dropdown-menu">
               				<form style="margin: 0px" accept-charset="UTF-8" action="/login/" method="post">{% csrf_token %}              
                 				<fieldset class='textbox' style="padding:10px">
                   					<input style="margin-top: 8px" type="text" placeholder="Username" name="username"/>
                   					<input style="margin-top: 8px" type="password" placeholder="Passsword" name="password"/>
                   					<input class="btn-primary" name="commit" type="submit" value="Log In" />
                   					<li class="divider"></li>                	
                   					<li><a href="#">Forgoten password/username</a></li>
                 				</fieldset>
               				</form>
      					</div>
               </li>
    	</ul>
   		{% endif %}
        
        </div><!-- .nav-collapse -->
     </div><!-- .container -->
    </div><!-- .navbar-inner -->
  </div><!-- .navbar-outer -->
  </div><!-- .navbar -->
  
  <div class="container">
  	<div class="row-fluid">
    	<div class="span12">

	  	{% block content %}{% endblock %}
	  
    	 </div> <!--/span-->
	</div> <!--/row-->
      
    <hr>
      
    <footer>
    	<p>&copy; Coffee Ratio 2013</p>
    </footer>
      
    </div><!--/.fluid-container-->



    <script src="{{ STATIC_URL }}/js/jquery-1.9.1.js"></script>  
    <script src="{{ STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>  
    <script src="{{ STATIC_URL }}/bootstrap/js/bootstrap-dropdown.js"></script>
  </body>  
</html>  
