{% extends "base.html" %}

{% block title %}<title>Add a Coffee</title>{% endblock %}

{% block content %}

<h1>Add A Coffee</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'purchcoffeebagcreate' %}" method="post">{% csrf_token %}

  <div class="row">
    
    <div class="span9">
      
      {% if form.errors %}
      <p style="color: red;">
	Please correct the error{{ purchcoffeebagform.errors|pluralize }} below.
      </p>
      {% endif %}
    </div>
  </div>
  
  <div class="row">

    <div class="span3">
      <div class="item">
	
	<div class="field">
	  <label for="id_date_purch">Purchase Date:</label> 
          {{ purchcoffeebagform.date_purch }}
	</div>
	
	<div class="field">
	  <label for="id_store">Store:</label> 
          {{ purchcoffeebagform.store }}
	</div>
	
      </div>
    </div>
    
    <div class="span3">
      <div class="item">
	
	<div class="field">
	  <label for="id_roaster">Roaster:</label>
          {{ purchcoffeebagform.roaster }}
	</div>
	
	<div class="field">
	  <label for="id_coffeebag">Coffee Bag:</label>
          {{ purchcoffeebagform.coffeebag }}
	</div>
	
      </div>
    </div>
    
  </div>
  
  <div class="row">
    
    <div class="span6">
	
	<div class="field">
	  <label for="id_notes">Notes:</label> 
          {{ purchcoffeebagform.notes }}
	</div>
	
	<input type="submit" value="Save" />
    </div>
  </div>
  
</form>      

{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>  
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>  
<script src="{{ STATIC_URL }}/js/jquery-ui-1.10.3.js"></script>
<script src="{{ STATIC_URL }}/js/general/roaster_lookup.js"></script>

<script>	
  jQuery(function($){
  //all jQuery code which uses $ needs to be inside here
  $( ".datePicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
  });
</script>

{% endblock %}

</section> <!-- #content -->  


