{% extends "base.html" %}

{% block title %}Coffee Roasters{% endblock %}

{% block content %}

{% if roaster_list %}

<div class="hero-unit">
<div class="row-fluid">

<div class="span12 spacerTop">  
<h2>Coffee roasters</h2>  
	<form id="custom-search-form" class="form-search form-horizontal form-inline">
		<div class="input-append">
		<input type="text" class="search-query" placeholder="Roaster by location search">
		<button type="submit" class="btn"><i class="icon-search"></i></button>
		</div>
	</form>
	<form id="custom-search-form" class="form-search form-horizontal form-inline">
		<div class="input-append">
		<input type="text" class="search-query" placeholder="Roaster name search">
		<button type="submit" class="btn"><i class="icon-search"></i></button>
		</div>
	</form>
</div> 

  {% for roaster in roaster_list %}
  {% if forloop.counter0|divisibleby:"3" %}
  <div class="row-fluid spacer">
  {% endif %}  
   <div class="span4 span4Mod">  	
		<div style="padding:4px">
		<img src = "{{ roaster.thumb }}"  height=250 alt="{{ roaster.name }}"> 
		</div>
		<div class="caption">
			<h2>{{ roaster.name }}</h2>
			<a href="{{ roaster.website }}" >{{ roaster.website }}</a>
			<p><i class="icon icon-map-marker"></i> {{ roaster.city }}, {{ roaster.state }}</p>
		</div>
		<div class="modal-footer" style="text-align: left">			
			<div class="row-fluid">
				<div class="span6"><a class="btn btn-mini" href="/roaster/{{ roaster.id }}/">See more</a></div>
				{% if user.is_authenticated %}
					<div class="span6"><a class="btn btn-mini" href="/roaster/{{ roaster.id }}/">Add to my roasters</a></div>
				{% else %}				
					<div class="span6"><a class="btn disabled btn-mini" href="">Add to my roasters</a></div>			
				{% endif %}				
			</div>
		</div>
	
   </div>
   
   
   {% if forloop.counter|divisibleby:"3" %}
  </div>
  {% endif %}
  
  {% endfor %}
  
  </div>    
</div>

{% if is_paginated %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
</div>
{% endif %}
{% endif %}

{% endblock %}
