{% extends "base.html" %}

{% block otherstyles %}<link rel="stylesheet" href="{{ STATIC_URL }}/css/rating.css" />{% endblock %}

{% block title %}Coffee Detail: {{ coffee.name }} {% endblock %}

{% block loggedinstatus %}Logged in as <a href="#" class="navbar-link">{{ user.username }}</a> (<a href="/logout/" class="navbar-link">Logout</a>){% endblock %}

{% block content %}

<h1>{{ coffee.name }}</h1>        

<h2>Coffee information</h2>
<ul>
  <li>Finca: {{ coffee.finca }}</li>
  <li>Grower/Farmer: {{ coffee.grower }}</li>
  <li>Varietal: {{ coffee.varietal }}</li>
  <li>Altitude: {{ coffee.altitude }}m</li>
</ul>

<h2>Notes</h2>
<pre>{{ coffee.notes }}</pre>

{% endblock %}
