{% extends "base.html" %}

{% block title %}Coffee Roasters{% endblock %}

{% block otherstyles %}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/rating.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}/css/coffeebag.css" />
{% endblock %}

{% block loggedinstatus %}Logged in as <a href="#" class="navbar-link">{{ user.username }}</a> (<a href="/logout/" class="navbar-link">Logout</a>){% endblock %}

{% block pageheader %}<h1>Coffee roasters</h1>{% endblock %}

{% block content %}

{% if roaster_list %}

<div class="row-fluid">

  {% for roaster in roaster_list %}
  {% if forloop.counter0|divisibleby:"3" %}
  <div class="row-fluid">
  {% endif %}  
  
  <div class="span4">
    <div class="item">
      <div class="item_head">
	<h2>{{ roaster.name }}</h2>
      </div> 
      <div class="item_body">
	<a href="{{ roaster.website }}">{{ roaster.website }}</a>
	<p>Located in {{ roaster.city }}, {{ roaster.state }}. This is where some info about the roaster will go. Who knows what we will say here, but something will be said.</p>
	<a class="btn" href="/roaster/{{ roaster.id }}/">View details&raquo;</a>
      </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:"3" %}
  </div>
  {% endif %}
  
  {% endfor %}
  
  </div>    
</div>

{% if is_paginated %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% endif %}



{% else %}
<div class="row-fluid">
  <div class="span8">
    <p>No roasters available.</p>
  </div><!--/span-->
</div>
{% endif %}

{% endblock %}
